<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="SMTPHost" value="smtp.gmail.com" />
  <add key="SMTPPort" value="465" />
  <add key="FromEmailAddress" value="tranhoangtien251001@gmail.com" />
  <add key="FromEmailPassword" value="tien25102803" />
  <add key="FromName" value="HT Shop" />
  <add key="CurrentLink" value="http://localhost:54571/" />
</appSettings>